.o_kanban_image_inner_left_pic {
                    @include o-position-absolute($left: 0, $bottom:0);
                    max: { height: 25px; width: 80%;}
                    background: white;
                    box-shadow: -1px -1px 0 1px white;
                }
