<section class="oe_container">
    <div class="oe_row oe_spaced">
        	<h2 class="oe_slogan">MuK Accounting and Finance</h2>
        	<h3 class="oe_slogan">Enables Odoo Accounting Features</h3>
        	<h4 class="oe_slogan" style="font-size: 23px;">MuK IT GmbH - www.mukit.at</h4>
        <div class="oe_demo oe_screenshot" style="max-width: 84%; margin: 16px 8%;">
            <img src="screenshot.png">
        </div>
    </div>
</section>

<section class="oe_container">
	<div class="oe_row oe_spaced">
		<div style="max-width: 84%; margin: 16px 8%;">
			<h3 class="oe_slogan">Overview</h3>
			<p class="oe_mt32">Activates the accounting dashboard and its
				features in Odoo. After installing the module, users can obtain the
				"Advisor" right for the "Accounting &amp; Finance" application. This
				feature was included in Odoo version 9 and was removed from the
				Community Edition with version 10.</p>
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<h3 class="oe_slogan">Our Services</h3>
		<div
			style="display: flex; padding-top: 20px; justify-content: space-between;">
			<div style="flex-basis: 18%;">
				<a href="https://mukit.at/r/MQ5" target="_blank">
					<div
						style="width: 75px; height: 75px; border-radius: 100%; margin: auto;">
						<img src="service_implementation.png"
							style="width: 100%; border-radius: 100%;">
					</div>
					<h3 class="oe_slogan"
						style="text-align: center; font-size: 14px; width: 100%; margin: 0; margin-top: 14px; color: #000 !important; margin-top: 5px; opacity: 1 !important; line-height: 17px;">
						Odoo <br>Implementation
					</h3>
				</a>
			</div>
			<div style="flex-basis: 18%;">
				<a href="https://mukit.at/r/u7c" target="_blank">
					<div
						style="width: 75px; height: 75px; border-radius: 100%; margin: auto;">
						<img src="service_integration.png"
							style="width: 100%; border-radius: 100%;">
					</div>
					<h3 class="oe_slogan"
						style="text-align: center; font-size: 14px; width: 100%; margin: 0; margin-top: 14px; color: #000 !important; margin-top: 5px; opacity: 1 !important; line-height: 17px;">
						Odoo <br>Integration
					</h3>
				</a>
			</div>
			<div style="flex-basis: 18%;">
				<a href="https://mukit.at/r/xDJ" target="_blank">
					<div
						style="width: 75px; height: 75px; border-radius: 100%; margin: auto;">
						<img src="service_customization.png"
							style="width: 100%; border-radius: 100%;">
					</div>
					<h3 class="oe_slogan"
						style="text-align: center; font-size: 14px; width: 100%; margin: 0; margin-top: 14px; color: #000 !important; margin-top: 5px; opacity: 1 !important; line-height: 17px;">
						Odoo <br>Customization
					</h3>
				</a>
			</div>
			<div style="flex-basis: 18%;">
				<a href="	https://mukit.at/r/J3A" target="_blank">
					<div
						style="width: 75px; height: 75px; border-radius: 100%; margin: auto;">
						<img src="service_development.png"
							style="width: 100%; border-radius: 100%;">
					</div>
					<h3 class="oe_slogan"
						style="text-align: center; font-size: 14px; width: 100%; margin: 0; margin-top: 14px; color: #000 !important; margin-top: 5px; opacity: 1 !important; line-height: 17px;">
						Odoo <br>Development
					</h3>
				</a>
			</div>
			<div style="flex-basis: 18%;">
				<a href="	https://mukit.at/r/R1v" target="_blank">
					<div
						style="width: 75px; height: 75px; border-radius: 100%; margin: auto;">
						<img src="service_support.png"
							style="width: 100%; border-radius: 100%;">
					</div>
					<h3 class="oe_slogan"
						style="text-align: center; font-size: 14px; width: 100%; margin: 0; margin-top: 14px; color: #000 !important; margin-top: 5px; opacity: 1 !important; line-height: 17px;">
						Odoo <br>Support
					</h3>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container" style="padding: 32px 0;">
	<div class="oe_row oe_spaced" style="margin: auto;">
		<div class="oe_demo oe_picture oe_screenshot">
			<a href="https://mukit.at/r/SgN" target="_blank"> <img src="preview.png">
			</a>
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<h3 class="oe_slogan">Help and Support</h3>
	<h5 class="oe_slogan" style="font-size: 20px;">Feel free to
		contact us, if you need any help with your Odoo integration or
		addiontal features.</h5>
	<div class="oe_slogan">
		<a class="btn btn-primary btn-lg mt8" href="https://mukit.at" target="_blank"> 
			<i class="fa fa-globe"></i> Website
		</a> 
		<a class="btn btn-primary btn-lg mt8" href="mailto:sale@mukit.at">
			<i class="fa fa-envelope"></i> Contact Us
		</a>
		<a class="btn btn-primary btn-lg mt8" href="https://github.com/muk-it" target="_blank">
			<i class="fa fa-github"></i> Issues
		</a>
	</div>
	<img src="logo.png"
		style="width: 200px; margin-bottom: 20px; display: block;"
		class="mx-auto center-block">
</section>