<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Saudi / UAE VAT</h2>
    </div>
</section>

<section class="oe_container">
<hr>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
        	<b>Provide Currency unit and Currency sub unit in arabic</b>
            <img class="oe_picture oe_screenshot" src="sa_uae_vat_sc_00.png">
        </div>
	<div class="oe_row oe_spaced">
        <div class="oe_span12">
        	<b>Provide Company name and address in Arabic</b>
            <img class="oe_picture oe_screenshot" src="sa_uae_vat_sc_01.png">
        </div>
        <div class="oe_span12">
        	<b>Area for Arabic Product Name</b>
            <img class="oe_picture oe_screenshot" src="sa_uae_vat_sc_02.png">
        </div>
        <div class="oe_span12">
        	<b>Set TIN label, Invoice Header label, and accounting country.</b>
        	<p>UAE has extra field called place of supply</p>
            <img class="oe_picture oe_screenshot" src="sa_uae_vat_sc_03.png">
        </div>
        <div class="oe_span12">
        	<b>Configure Arabic name for Countries.</b>
            <img class="oe_picture oe_screenshot" src="sa_uae_vat_sc_04.png">
        </div>
        <div class="oe_span12">
        	<b>Configure Arabic name for states.</b>
            <img class="oe_picture oe_screenshot" src="sa_uae_vat_sc_05.png">
        </div>
    </div>
   </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan" style="color:#004a81;">Help and Support</h2>
        <h4 class="oe_slogan" style="color:#004a81;">For support, new features and customizations.</h4>
        <div class="oe_slogan">
            <img class="center-block" src="tis-logo.png" width="250">
            <br>
            <a class="btn btn-primary btn-lg mt8"
	            style="color: #FFFFFF !important;" href="http://www.technaureus.com/" target="_blank">
	            <i class="fa fa-globe"></i> Website </a>
	         <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;"
	            href="mailto:support@technaureus.com" target="_top">
	            <i class="fa fa-envelope"></i> Contact Us </a>
	         <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;"
	            href="skype:technaureus?call"><i
	            class="fa fa-skype"></i> Skype </a>
            <br/>
            <br/>
            <p style="text-align: center; color: #1eaa87;">
            <a href="https://www.facebook.com/technaureus" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://twitter.com/technaureus" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://plus.google.com/106328824399610529659" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/channel/UChusfuYvl4Xbf7-RLP5hHFg" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            <a href="https://www.pinterest.com/technaureus/" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/company/technaureus-info-solutions?trk=ppro_cprof" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://technaureus.blogspot.in/" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/technaureus/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </p>
            <h2 class="oe_mt16" style="text-align: center;">
			    <a href="http://www.odoo.com/apps/modules/browse?author=Technaureus%20Info%20Solutions" target="_blank"
			       style="color: #004a81; font-weight: bold; margin-top: 16px;">
			        <i class="fa fa-star fa-spin"></i> Click here for Technaureus Odoo Apps <i class="fa fa-star fa-spin"></i></a>
			</h2>
        </div>
   </div>
</section>
