<section class="s_theme_description">
    <section class="s_image_text oe_dark" style="padding: 32px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt16">
                    <img class="img img-responsive mb16"
                         src="murphy_ecommerce.png"/>
                </div>
            </div>
        </div>
    </section>

    <section class="s_image_text mt32 mb32">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt16">
                    <img class="img img-responsive mb16" src="customize-model.png"
                         alt="Odoo image and text block"/>
                </div>
                <div class="col-md-6 mt16">
                    <h3 class="o_default_snippet_text">Multi Color &amp; Multi
                        Font</h3>
                    <p class="o_default_snippet_text">A beautiful website
                        should
                        stay beautiful on all devices, let it be computer,
                        tablet or
                        phone.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="s_text_image oe_dark" style="padding: 32px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt16">
                    <h3 class="o_default_snippet_text">Collapsable
                        Categories</h3>
                    <p class="o_default_snippet_text">Give your users easy and
                        layered navigation with collapsable categories.</p>
                </div>
                <div class="col-md-6 mt16">
                    <img class="img img-responsive mb16" src="shop_categorys.png"
                         alt="Odoo text and image block">
                </div>
            </div>
        </div>
    </section>
    <section class="s_text_image mt32 mb32">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt16">
                    <img class="img img-responsive mb16" src="list_grid.png"
                         alt="Odoo text and image block">
                </div>
                <div class="col-md-6 mt16">
                    <h3 class="o_default_snippet_text">Product View
                        Switcher</h3>
                    <p class="o_default_snippet_text">Look at products with out
                        of
                        ordinary views. Scrutinize more advantageously with
                        list and grid
                        views.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="s_text_image oe_dark" style="padding: 32px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt16">
                    <h3 class="o_default_snippet_text">Product Sorting</h3>
                    <p class="o_default_snippet_text">Let your website visitor
                        sort
                        products by price, name and relevance. On just a
                        click.</p>
                </div>
                <div class="col-md-6 mt16">
                    <img class="img img-responsive mb16" src="sort_by.png"
                         alt="Odoo text and image block">
                </div>
            </div>
        </div>
    </section>
    <section class="s_text_image oe_dark" style="padding: 32px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt16">
                    <img class="img img-responsive mb16" src="shop_tags.png"
                         alt="Odoo text and image block">
                </div>
                <div class="col-md-6 mt16">
                    <h3 class="o_default_snippet_text">Product Tags</h3>
                    <p class="o_default_snippet_text">Create and apply custom
                        tags
                        to product and let your website visitor search products
                        by tag.</p>
                </div>

            </div>
        </div>
    </section>
    <section class="s_text_image mt32 mb32 oe_dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt16">
                    <h3 class="o_default_snippet_text">Product Ribbon</h3>
                    <p class="o_default_snippet_text">Enchant your products
                        with
                        elegant ribbons with new offers like discounts,sale
                        etc.</p>
                </div>
                <div class="col-md-6 mt16">
                    <img class="img img-responsive mb16" src="shop_ribbon.png"
                         alt="Odoo text and image block">
                </div>
            </div>
        </div>
    </section>
    <section class="s_text_image mt32 mb32 oe_dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt16">
                    <img class="img img-responsive mb16" src="per_page.png"
                         alt="Odoo text and image block">
                </div>
                <div class="col-md-6 mt16">
                    <h3 class="o_default_snippet_text">Product View Limit</h3>
                    <p class="o_default_snippet_text">Give your user a choice
                        to
                        view affluent number of products.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="s_image_text mt32 mb32">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt16">
                    <h3>Product Brands</h3>
                    <p>Show the brands that you offer, let your visitors see
                        and
                        filter products by.</p>
                </div>
                <div class="col-md-6 mt16">
                    <img class="img img-responsive mb16" src="shop_brand.png" alt="Odoo image and text block">
                </div>
            </div>
        </div>
    </section>
    <section class="s_text_image mt32 mb32">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt16">
                    <img class="img img-responsive mb16" src="quick_view.png"
                         alt="Odoo text and image block">
                </div>
                <div class="col-md-6 mt16">
                    <h3 class="o_default_snippet_text">Product Quick View</h3>
                    <p class="o_default_snippet_text">View Product and Other
                        Detail
                        On just Single Click.</p>
                </div>
            </div>
        </div>
    </section>

    <section
            style="background: url(https://www.73lines.com/73lines_web/static/src/img/banner/odoo/cta-background.jpg) repeat;">
        <div class="container">
            <a href="https://www.73lines.com/r/S02">
                <img class="img img-responsive"
                     src="https://www.73lines.com/73lines_web/static/src/img/banner/odoo/cta-odoo-banner.png">
            </a>
        </div>
    </section>


    <section class="oe_dark" style="padding: 32px 0;">
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                <h2 class="o_default_snippet_text mt8 mb32 text-primary">Need
                    Any Help?</h2>
                <div>
                    <a class="col-md-3 col-sm-6 col-xs-12 btn btn-primary btn-lg mt8 o_default_snippet_text"
                       style="padding: 50px 0"
                       href="mailto:support@73lines.com"> <i
                            class="fa fa-envelope fa-2x mt16"></i> <span
                            style="display: block">Email</span>
                    </a>
                    <a class="col-md-3 col-sm-6 col-xs-12 btn btn-primary btn-lg mt8 o_default_snippet_text"
                       style="padding: 50px 0"
                       href="https://www.73lines.com/page/website.contactus">
                        <i class="fa fa-phone fa-2x mt16"></i> <span
                            style="display: block">Contact Us</span>
                    </a>
                    <a class="col-md-3 col-sm-6 col-xs-12 btn btn-primary btn-lg mt8 o_default_snippet_text"
                       style="padding: 50px 0"
                       href="https://www.73lines.com/page/website.contactus">
                        <i
                                class="fa fa-check-square fa-2x mt16"></i>
                        <span
                                style="display: block">Request Customization</span>
                    </a>
                    <a class="col-md-3 col-sm-6 col-xs-12 mt8 btn btn-primary btn-lg"
                       style="padding: 50px 0"
                       href="https://www.73lines.com/page/return-and-refund-policy">
                        <i class="fa fa-share-square fa-2x mt16"></i> <span
                            style="display: block">Returns &amp; Refunds Policy</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

</section>
