<section class="oe_container">
    <div class="oe_row oe_spaced" style="max-width: 800px;">
        <div class="oe_span12">
          <h2 class="oe_slogan" style="color:#e68a00; text-align: center;">Open PDF Reports in browser</h2>
          <div class="oe_demo" style="border:none;">
            <h4>Main features</h4>
            <ul>
              <li>Preview PDF reports in browser instead of downloading</li>
              <li>Download reports later from browser if you need (filename will be preserved)</li>
              <li>Note: you must enable pop-up windows for Odoo when prompted!</li>
              <li>Hint #1: Manage all Odoo messages easily and much more effective using free <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_mail_messages/"><b>Mail Messages Easy</b></a> module</li>
              <li>Hint #2: Manage reordering rules easily using free <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/cx_product_auto_reorder/"><b>Advanced Auto Reordering Rules Control</b></a> module</li>

            </ul>
            <h4>Support</h4>
            <ul>
              <li>Tested on Odoo Community v12.0</li>
              <li>Russian language translation</li>
              <li>English, German and Russian language support</li>
              <li><a href="mailto:odooapps@cetmix.com">Click to contact us</a> for support or any custom app you need</li>
            </ul>
          </div>
          <h3 style="text-align: center;"><a target="_blank" href="https://apps.odoo.com/apps/browse?repo_maintainer_id=222445">Click here for more addons!</a></h3>
          <h3 style="text-align: center;"><a href="mailto:odooapps@cetmix.com">Click to contact us</a> for support or any custom addons you need</h3>
        </div>
      </div>

  <div class="oe_row oe_spaced" style="max-width: 800px;">
    <div class="oe_demo">
      <h3 class='oe_slogan'>Before</h3>
    </div>
    <div class="oe_demo oe_screenshot">
      <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_report_attachment_preview/before.png">
        <img src="before.png">
      </a>
    </div>
  </div>

  <div class="oe_row oe_spaced" style="max-width: 800px;">
    <div class="oe_demo">
      <h3 class="oe_slogan">After</h3>
    </div>
    <div class="oe_demo oe_screenshot">
      <a target="_blank" href="https://apps.odoo.com/apps/modules/12.0/prt_report_attachment_preview/after.png">
        <img src="after.png">
      </a>
    </div>
  </div>

  <div class="oe_row oe_spaced" style="max-width: 800px;">
    <div class="oe_demo">
      <h4 class="oe_slogan"><a href="https://demo.promintek.com">Click to try it!</a> Login:demo Password:demo51</h4>
      <h4 class="oe_slogan"><a href="mailto:odooapps@cetmix.com">Click to contact us</a> for support</h4>
      <h5 class="oe_slogan"><a href="https://www.freepik.com/free-photos-vectors/icon">Icon and frame vector created by Freepik</a></h5>
    </div>
  </div>
</section>
